<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="clipboard-sharp"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button tab="service">
      <ion-icon name="reader-sharp"></ion-icon>
      Servicios
    </ion-tab-button>
    <ion-tab-button tab="check">
      <ion-icon name="add-circle-sharp"></ion-icon>
      Consumo
    </ion-tab-button>
    <!-- <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
