<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="clipboard-sharp"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button tab="service">
      <ion-icon name="reader-sharp"></ion-icon>
      Servicios
    </ion-tab-button>
    <ion-tab-button tab="personal-check">
      <ion-icon name="person-sharp"></ion-icon>
      Personal
    </ion-tab-button>
    <ion-tab-button tab="consumption">
      <ion-icon name="add-circle-sharp"></ion-icon>
      Consumo
    </ion-tab-button>
    <ion-tab-button tab="check">
      <ion-icon name="card-sharp"></ion-icon>
      Pagos
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
