<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="setOpen(true)">
    <ion-icon name="water-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-item lines="none">
          <ion-badge slot="end">{{globalService.count_services}}</ion-badge>
          <ion-label>Servicio</ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-form-service (fx_closeModal)="setOpen(false)" (fx_getAll)="runToFunction()"></app-form-service>
    </ion-content>
  </ng-template>
</ion-modal>
