<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-card (click)="handleSelectedItemWallet(wallet)" *ngFor="let wallet of globalService.wallets">
        <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
        <!-- <ion-card-header>
          <ion-card-title>{{ wallet.wallet_name }}</ion-card-title>
        </ion-card-header> -->
        <ion-item lines="none">
          <ion-icon name="wallet-sharp" slot="start"></ion-icon>
          <ion-label>{{wallet.wallet_name}}</ion-label>
          <ion-button slot="end">
            <ion-icon name="eye-sharp"></ion-icon>
          </ion-button>
          <!-- <ion-icon name="information-circle" slot="end"></ion-icon> -->
        </ion-item>

        <!-- <ion-card-content>

        </ion-card-content> -->
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-modal [isOpen]="globalService.isModalWalletOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{showname_wallet}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="globalService.setOpenModalWallet(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-item-wallet></app-item-wallet>
    </ion-content>
  </ng-template>
</ion-modal>
